####################################
# IntelliJ IDEA
####################################
.idea/
*.iml
out/

####################################
# Maven
####################################
target/
**/target/

####################################
# Logs
####################################
*.log
logs/

####################################
# OS Files
####################################
.DS_Store
Thumbs.db

####################################
# IntelliJ (extra)
####################################
/shelf/
/workspace.xml
/httpRequests/
/dataSources/
/dataSources.local.xml
