spring:
  application:
    name: eurekaserver
  config:
    import: optional:configserver:http://localhost:8071/
management:
  endpoint:
    health:
      probes:
        enabled: true
  endpoints:
    web:
      exposure:
        include: "*"
  health:
    readinessstate:
      enabled: true
    livenessstate:
      enabled: true
#eureka:
#  server:
#    enable-self-preservation: true
